# =========================
# .NET
# =========================
bin/
obj/
.vs/
*.user
*.suo
*.cache
*.log

# =========================
# Visual Studio / Rider
# =========================
.vscode/
.idea/

# =========================
# Angular / React
# =========================
node_modules/
dist/
build/
.angular/
.cache/

# =========================
# Env files
# =========================
.env
.env.*

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# Ignore logs
backend/logs/
*.log

# Ignore all txt logs
*.txts